.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: 1fr 1fr 1fr / 3fr 50% 1fr;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/* There is a responsive unit specifically for CSS grids called fractions. It
defines the size of the rows and columns as fractions of the total height and
width of the grid. This prevents overflow of content from the grid. Fractions
can also be combined with other units. They represent a fraction of the available
space. */
